@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.phx-connected {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
