<div class="mt-1 flex gap-3 empty:hidden juice:-ml-3">
  <div class="items-center justify-start rounded-xl p-1 z-10 -mt-1 bg-token-main-surface-primary md:absolute md:border md:border-token-border-light md:hidden group-hover:block">
    <div class="flex items-center">
      <.msg-navigator
        sibling_info={if Map.has_key?(assigns, :sibling_info), do: @sibling_info}
        message_id={@message.id}
      />
      <span class="" data-state="closed">
        <button class="rounded-lg text-token-text-secondary hover:bg-token-main-surface-secondary">
          <span class="flex h-[30px] w-[30px] items-center justify-center">
            <.icon name="hero-speaker-wave" class="w-4 h-4" />
          </span>
        </button>
      </span>
      <span class="" data-state="closed">
        <button class="rounded-lg text-token-text-secondary hover:bg-token-main-surface-secondary">
          <span class="flex h-[30px] w-[30px] items-center justify-center">
            <.icon name="hero-document-duplicate" class="w-4 h-4" />
          </span>
        </button>
      </span>
      <div class="flex items-center">
        <span class="" data-state="closed">
          <button
            phx-click="set_feedback"
            phx-value-id={@message.id}
            phx-value-feedback="like"
            class="rounded-lg text-token-text-secondary hover:bg-token-main-surface-secondary"
          >
            <span class="flex h-[30px] w-[30px] items-center justify-center">
              <%= if @message.feedback && @message.feedback.type == "like" do %>
                <.icon name="hero-hand-thumb-up-solid" class="w-4 h-4 text-primary" />
              <% else %>
                <.icon name="hero-hand-thumb-up" class="w-4 h-4" />
              <% end %>
            </span>
          </button>
        </span>
        <span class="" data-state="closed">
          <button
            phx-click="set_feedback"
            phx-value-id={@message.id}
            phx-value-feedback="dislike"
            class="rounded-lg text-token-text-secondary hover:bg-token-main-surface-secondary"
          >
            <span class="flex h-[30px] w-[30px] items-center justify-center">
              <%= if @message.feedback && @message.feedback.type == "dislike" do %>
                <.icon name="hero-hand-thumb-down-solid" class="w-4 h-4 text-error" />
              <% else %>
                <.icon name="hero-hand-thumb-down" class="w-4 h-4" />
              <% end %>
            </span>
          </button>
        </span>
      </div>
      <span class="" data-state="closed">
        <button
          type="button"
          id="radix-:r9c:"
          aria-haspopup="menu"
          aria-expanded="false"
          data-state="closed"
          class="cursor-pointer rounded-md px-1 text-token-text-secondary h-[30px] hover:bg-token-main-surface-secondary"
        >
          <div class="flex items-center pb-0.5 juice:pb-0">
            <div class="[&amp;_svg]:h-full [&amp;_svg]:w-full icon-md h-4 w-4">
              <.icon name="hero-sparkles" class="w-4 h-4" />
            </div>
            <span class="line-clamp-1 text-sm" style="opacity: 0; padding-left: 0px; width: 0px;">
              4o
            </span>
            <.icon name="hero-chevron-down" class="w-4 h-4" />
          </div>
        </button>
      </span>
    </div>
  </div>
</div>
