<div class="flex items-center gap-2 p-2 rounded-md bg-base-200">
  <%= case Path.extname(@filename) do %>
    <% ext when ext in [".jpg", ".jpeg", ".png", ".gif", ".svg"] -> %>
      <.icon name="hero-photo" class="w-4 h-4 text-base-content/70" />
    <% ext when ext in [".pdf", ".md", ".txt", ".doc", ".docx", ".rtf"] -> %>
      <.icon name="hero-document-text" class="w-4 h-4 text-base-content/70" />
    <% ext when ext in [".xls", ".xlsx", ".csv"] -> %>
      <.icon name="hero-table-cells" class="w-4 h-4 text-base-content/70" />
    <% ext when ext in [".mp3", ".wav", ".ogg"] -> %>
      <.icon name="hero-musical-note" class="w-4 h-4 text-base-content/70" />
    <% ext when ext in [".mp4", ".avi", ".mov"] -> %>
      <.icon name="hero-film" class="w-4 h-4 text-base-content/70" />
    <% _ -> %>
      <.icon name="hero-paper-clip" class="w-4 h-4 text-base-content/70" />
  <% end %>
  <a href={@url} target="_blank" class="text-primary hover:underline flex-1 truncate text-sm">
    <%= @filename %>
  </a>
</div>
