<div class="flex flex-col h-full w-full">
  <.header main={@main} user={@user} sidebar_open={@sidebar_open} />
  <main class="flex-1 overflow-auto">
    <div id="messageContainer" phx-hook="ChatAutoScroll" class="h-full overflow-y-auto p-4">
      <div id="clipboard-handler" phx-hook="Clipboard">
        <%= if get_in(@main, [:chat]) do %>
          <.messages messages={@main.messages} uistate={@main.uistate} />
        <% else %>
          <.hello suggestions={@main.suggestions} />
        <% end %>
      </div>
    </div>
  </main>
  <footer class="sticky bottom-0 bg-base-100 p-3">
    <.input main={@main} uploads={if get_in(@main, [:chat]), do: @uploads} />
    <div class="relative px-2 py-2 text-center text-xs text-base-content/70">
      <span>LLMs can make mistakes. Consider checking important information.</span>
    </div>
  </footer>
  <div class="fixed bottom-3 right-3 z-10">
    <.help />
  </div>
</div>
