<header class="bg-base-100 shadow-md p-3">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <%= if not @sidebar_open do %>
        <span class="" data-state="closed">
          <button
            class="h-10 rounded-lg px-2.5 text-base-content/70 focus-visible:outline-0 hover:bg-base-200 focus-visible:bg-base-200"
            phx-click="toggle_sidebar"
          >
            <.icon name="hero-newspaper" class="w-6 h-6" />
          </button>
        </span>
        <span class="" data-state="closed">
          <button
            class="h-10 rounded-lg px-2.5 text-base-content/70 focus-visible:outline-0 hover:bg-base-200 focus-visible:bg-base-200"
            phx-click="to_index"
          >
            <.icon name="hero-pencil-square" class="w-6 h-6" />
          </button>
        </span>
      <% end %>
      <div class="flex items-center cursor-pointer rounded-xl py-2 px-3 text-lg font-semibold hover:bg-base-200">
        ChatGPT <span class="text-base-content/70">4o</span>
        <.icon name="hero-chevron-down" class="w-6 h-6 text-base-content/50" />
      </div>
    </div>
    <div class="flex gap-2">
      <%= if get_in(@main, [:chat]) do %>
        <button class="h-10 rounded-lg px-2.5 text-base-content/70 hover:bg-base-200 focus:bg-base-200">
          <.icon name="hero-arrow-up-on-square" class="w-6 h-6" />
        </button>
      <% end %>
      <%= if @user do %>
        <button
          class="flex h-10 w-10 items-center justify-center rounded-full hover:bg-base-200 focus:bg-base-200"
          type="button"
        >
          <img
            alt="User"
            referrerpolicy="no-referrer"
            loading="lazy"
            width="32"
            height="32"
            decoding="async"
            class="rounded-full"
            src={"#{@user.avatar_url}"}
          />
        </button>
      <% end %>
    </div>
  </div>
</header>
