<div class="flex h-full flex-col items-center justify-center">
  <div class="mb-3 h-12 w-12">
    <.image src="/images/llm-chat-avatar.png" alt="llm_chat avatar" show={false} />
  </div>
  <.suggestions suggestions={@suggestions} />
</div>
