<form
  phx-submit="submit"
  class="flex flex-row gap-3 mx-2 md:mx-4 lg:mx-auto lg:max-w-2xl xl:max-w-3xl"
>
  <div class="relative flex h-full flex-1 flex-col">
    <div class="flex w-full items-center">
      <div class="overflow-hidden flex flex-col w-full flex-grow relative border border-base-300 rounded-2xl bg-base-100">
        <textarea
          id="prompt-textarea"
          name="prompt-textarea"
          tabindex="0"
          data-id="root"
          rows="1"
          placeholder="Message M.ai…"
          class="m-0 w-full resize-none border-0 bg-transparent focus:ring-0 focus-visible:ring-0 dark:bg-transparent py-2.5 pr-10 md:py-3.5 md:pr-12 max-h-[calc(12*1.5rem)] overflow-y-auto placeholder-base-content/50 dark:placeholder-base-content/50 pl-10 md:pl-14"
          style="min-height: 52px;"
          phx-hook="TextAreaAutosize"
        ><%= get_in(@main, [:uistate, :prompt]) %></textarea>
        <button
          type={if @main.uistate.streaming, do: "button", else: "submit"}
          class="absolute bottom-1.5 right-2 rounded-lg border border-base-content bg-base-content p-0.5 text-base-100 transition-colors enabled:bg-base-content disabled:opacity-50 md:bottom-3 md:right-3"
          data-testid={if @main.uistate.streaming, do: "cancel-button", else: "send-button"}
          phx-click={if @main.uistate.streaming, do: "cancel", else: ""}
        >
          <span data-state="closed">
            <.icon
              name={if @main.uistate.streaming, do: "hero-stop", else: "hero-arrow-up"}
              class="w-6 h-6"
            />
          </span>
        </button>
      </div>
    </div>
  </div>
</form>
