<div id={@id} class="w-full" dir="auto" data-testid={"conversation-turn-#{@message.turn_number}"}>
  <div class="px-4 py-2 justify-center text-base md:gap-6 m-auto">
    <div class="flex flex-1 text-base mx-auto gap-3 md:gap-6 md:px-5 lg:px-1 xl:px-5 md:max-w-3xl lg:max-w-4xl xl:max-w-6xl group">
      <div class="flex-shrink-0 flex flex-col relative items-end">
        <img
          alt={"#{if @message.role == "assistant", do: "M.ai", else: "User"}"}
          loading="lazy"
          width="24"
          height="24"
          decoding="async"
          data-nimg="1"
          class="rounded-sm"
          src={"/images/#{if @message.role == "assistant", do: "llm-chat-avatar.png", else: "user.png"}"}
          style="color: transparent;"
        />
      </div>
      <div class={"relative flex w-full flex-col#{if @message.role == "assistant", do: " agent-turn", else: ""}"}>
        <div class="font-semibold select-none">
          <%= if @message.role == "assistant", do: "M.ai", else: "You" %>
        </div>
        <div class="flex-col gap-1 md:gap-3">
          <div class="flex flex-grow flex-col max-w-full">
            <div
              data-message-author-role={"#{@message.role}"}
              data-message-id={"#{@message.id}"}
              dir="auto"
              class="min-h-[20px] flex flex-col items-start gap-3 whitespace-pre-wrap break-words overflow-x-auto"
            >
              <div class={"#{if @message.role == "assistant", do: "prose w-full break-words dark:prose-invert", else: ""}"}>
                <%= if @is_streamed do %>
                  <span id="streaming-message"><%= @message.content %></span>
                <% else %>
                  <%= @message.content %>
                <% end %>
              </div>
            </div>
          </div>
          <%= unless @is_streamed do %>
            <.msg-controls message={@message} />
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
