<div
  class="w-full text-base-content"
  dir="auto"
  data-testid={"conversation-turn-#{@message.turn_number}"}
>
  <div class="py-2 md:py-4 px-3 md:px-5 m-auto">
    <div class="mx-auto flex flex-col items-center gap-3 text-base md:gap-4 md:max-w-3xl lg:max-w-5xl">
      <div class="flex w-full max-w-full md:max-w-3xl lg:max-w-2xl">
        <%= if @message.role == "assistant" do %>
          <div class="flex-shrink-0 flex items-start">
            <div class="relative p-1 rounded-sm flex items-center justify-center bg-base-300 text-base-content h-8 w-8">
              <img
                alt="LLM Chat"
                loading="lazy"
                width="24"
                height="24"
                decoding="async"
                data-nimg="1"
                class="rounded-sm"
                src="/images/llm-chat-avatar.png"
                style="color: transparent;"
              />
            </div>
          </div>
        <% end %>
        <div class={"relative flex w-full flex-col#{if @message.role == "assistant", do: " agent-turn", else: ""} group"}>
          <div class="flex-col gap-1 md:gap-3">
            <div class="flex flex-grow flex-col max-w-full">
              <div
                data-message-author-role={"#{@message.role}"}
                data-message-id={"#{@message.id}"}
                dir="auto"
                class="min-h-[20px] text-message flex flex-col items-start whitespace-pre-wrap break-words mt-5 w-full items-end overflow-x-auto gap-2"
              >
                <div class="flex w-full flex-col gap-1 juice:empty:hidden items-end rtl:items-start">
                  <div class="relative max-w-[70%] rounded-3xl bg-[#f4f4f4] px-5 py-2.5 dark:bg-base-300">
                    <%= if @is_streamed do %>
                      <span id="streaming-message"><%= @message.content %></span>
                    <% else %>
                      <%= @message.content %>
                    <% end %>
                    <%= if @message.role == "user" do %>
                      <div class="absolute bottom-0 right-full top-0 -mr-3.5 hidden pr-5 pt-1 group-hover:block">
                        <span class="" data-state="closed">
                          <button class="flex h-9 w-9 items-center justify-center rounded-full text-base-content transition hover:bg-base-300">
                            <.icon name="hero-pencil" class="w-4 h-4" />
                          </button>
                        </span>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <%= unless @is_streamed do %>
              <.msg-controls message={@message} />
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
