<div style="opacity: 1;">
  <div class="mx-3 mt-12 flex max-w-3xl flex-wrap items-stretch justify-center gap-4">
    <div class="flex max-w-3xl flex-wrap items-stretch justify-center gap-4">
      <.suggestion name="hero-light-bulb" class="text-yellow-400" text={Enum.at(@suggestions, 0)} />
      <.suggestion name="hero-academic-cap" class="text-blue-400" text={Enum.at(@suggestions, 1)} />
    </div>
    <div class="flex max-w-3xl flex-wrap items-stretch justify-center gap-4">
      <.suggestion name="hero-pencil" class="text-fuchsia-400" text={Enum.at(@suggestions, 2)} />
      <.suggestion name="hero-window" class="text-amber-400" text={Enum.at(@suggestions, 3)} />
    </div>
  </div>
</div>
