<.sidebar
  periods={@sidebar.periods}
  user={@sidebar.user}
  oauth_google_url={@oauth_google_url}
  sidebar_open={@sidebar_open}
/>
<.chat main={@main} user={@sidebar.user} sidebar_open={@sidebar_open} />
